.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs

logs/
saved_configurations/

*.zip
*.npz
*.pkl

config_copy/

!best_model.zip
!Documentation/version_more_noise/new_best_solution/baseline_1/rl_model_2000000_steps.zip
!Documentation/version_more_noise/new_best_solution/baseline_1/rl_model_2300000_steps.zip
!Documentation/version_more_noise/new_best_solution/baseline_1/rl_model_2200000_steps.zip